<div id="extension-standups" data-ng-app="standups">

  <div class="viewport" data-ng-controller="ViewportCtrl">

    <section data-ng-show="Extension.Nav.is('main')" data-ng-controller="MainTimerCtrl">
      <div class="hdr">
        <div class="nv">
          <span class="section-name"> Standups</span>
          <ul class="navigation standups-right">
            <li>
              <a data-ng-click="Extension.toggleSound()">
                <i data-ng-show="Extension.Settings.enableSound" class="fa fa-volume-up"></i>
                <i data-ng-show="!Extension.Settings.enableSound" class="fa fa-volume-off"></i>
              </a>
            </li>
            <li>
              <a data-ng-click="Extension.Nav.to('settings')"><i class="fa fa-gear"></i></a>
            </li>
            <li>
              <a data-ng-click="Extension.quit()"><i class="fa fa-close fa-times"></i></a>
            </li>
          </ul>
        </div>
      </div>
      <div>
        <div timer></div>
        <div>
          <button class="extension-btn" data-ng-click="startClick($event)" data-ng-show="!timerStarted()">Start</button>
          <button class="extension-btn" data-ng-click="stopClick($event)" data-ng-show="timerStarted()">Stop</button>
          <button class="extension-btn" data-ng-click="resetClick($event)">Reset</button>
        </div>
      </div>
      <div>

        <div teams></div>
      </div>
    </section>

    <section id="settings" data-ng-show="Extension.Nav.is('settings')" data-ng-controller="SettingsCtrl">
      <div class="hdr">
        <div class="nv">
          <span class="section-name">Settings</span>
          <ul class="navigation standups-right">
            <li>
              <a data-ng-click="Extension.Nav.to('main')"><i class="fa fa-arrow-left"></i></a>
            </li>
          </ul>
        </div>
      </div>
      <article>
        <h1>Here will be a list of settings</h1>
        <ul>
          <li>First</li>
          <li>Second</li>
          <li>Theird</li>
        </ul>
      </article>
    </section>
  </div>

  <script type="text/ng-template" id="templates/timer.html">
    <div class="standups-timer" data-ng-click="edit($event)">
      <div class="cntr">
        <span class="dig h1"></span>
        <span class="dig h2"></span>
        <span class="hsep sep">h</span>
        <span class="dig m1"></span>
        <span class="dig m2"></span>
        <span class="msep sep">m</span>
        <span class="dig s1"></span>
        <span class="dig s2"></span>
        <span class="ssep sep">s</span>
      </div>
    </div>
  </script>

  <script type="text/ng-template" id="templates/teams.html">
    <div class="standups-project" ng-controller="ProjectCtrl" ng-init="init()">

      <div ng-switch="view">
        <div ng-switch-when="details">
          <div class="standups-header" ng-if="!activeProject().isEdited">
            <h3 class="standups-list-header standups-left">
              {{activeProject().name}}
            </h3>

            <div class="standups-header-actions standups-right">
              <a ng-click="list()"><i class="fa fa-list"></i></a>
              <a ng-click="toggleEdit()"><i class="fa fa-edit"></i></a>
            </div>
          </div>

          <div class="standups-header" ng-if="activeProject().isEdited">
            <h3 class="standups-list-header standups-left">
              <input type="text" ng-model="activeProject().name" placeholder="Project name"/>
            </h3>

            <div class="standups-header-actions standups-right">
              <a ng-click="save()"><i class="fa fa-save"></i></a>
            </div>
          </div>

          <div class="standups-list">
            <ul>
              <li ng-if="activeProject().isEdited">
                <a>
                  <input type="text" ng-model="temp.userName" placeholder="User name"
                         keypress="{ enter: 'addUser(temp.userName)' }"/>
                </a>
              </li>
              <li ng-repeat="user in activeProject().users"
                  ng-class="user.active && !activeProject().isEdited?'standups-list-item-selected':''"
                  ng-dbclick="user.isEdited = !user.isEdited">
                <a ng-if="!activeProject().isEdited"><i class="fa fa-bullhorn"></i>{{user.name}}</a>
                <a ng-if="activeProject().isEdited">
                  <input type="text" ng-model="user.name"/>
                <span class="standups-right standups-item-actions">
                  <i ng-click="removeUser($index)" class="fa fa-trash-o"></i>
                </span>
                </a>
              </li>
            </ul>
          </div>
        </div>

        <div ng-switch-when="list">
          <div class="standups-header">
            <h3 class="standups-list-header standups-left">Projects</h3>

            <div class="standups-header-actions standups-right">
              <a ng-click="details(activeProject())"><i class="fa fa-arrow-left"></i></a>
            </div>
          </div>
          <div class="standups-list">
            <ul>
              <li>
                <a>
                  <input type="text" ng-model="temp.projectName" placeholder="Project name"
                         keypress="{ enter: 'addProject(temp.projectName)' }"/>
                </a>
              </li>
              <li ng-repeat="project in getProjects()"
                  ng-class="project == activeProject()?'standups-list-item-selected':''"
                  ng-click="selectProject(project)"
                  ng-dblclick="selectProject(project);details(activeProject())">
                <a>
                  <i class="fa fa-circle-o"></i>
                  <i class="fa fa-dot-circle-o"></i>
                  {{project.name}}
                <span class="fade">(
                <ng-pluralize count="project.users.length"
                              when="{'0': 'Nobody assigned','one': '1 user','other': '{} users'}">
                </ng-pluralize>)
                </span>
                <span class="standups-right standups-item-actions">
                  <i ng-click="toggleEdit(project)" class="fa fa-edit"></i>
                   <i ng-click="removeProject(project)" class="fa fa-trash-o"></i>
                </span>
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </script>
</div>
