<div id="extension-standups" data-ng-app="standups" data-ng-controller="ViewportCtrl" ng-class="!Extension.isMaximized?'minimized':''">

  <div class="viewport">

    <section class="standups-main" data-ng-show="Extension.Nav.is('main')">
      <div class="standups-header">
        <div class="standups-nav">
          <span class="section-name"> Standups</span>
          <ul class="navigation standups-right">
            <li>
              <a data-ng-click="Extension.Nav.to('info')"><i class="fa fa-info"></i></a>
            </li>
            <li ng-if="Extension.isMaximized">
              <a data-ng-click="Extension.minimize()"><i class="fa fa-toggle-up"></i></a>
            </li>
            <li ng-if="!Extension.isMaximized">
              <a data-ng-click="Extension.maximize()"><i class="fa fa-toggle-down"></i></a>
            </li>
            <li>
              <a data-ng-click="Extension.quit()"><i class="fa fa-close fa-times"></i></a>
            </li>
          </ul>
        </div>
      </div>
      <div class="standups-timer" ng-controller="TimerCtrl" ng-if="view != 'wizard'">
        <div timer></div>
        <div class="standups-timer-actions">
          <button data-ng-click="startClick()" data-ng-show="!timerStarted()">{{isPaused()?"Resume":"Start"}}</button>
          <button data-ng-click="stopClick()" data-ng-show="timerStarted()">Stop</button>
          <button data-ng-click="resetClick()">Reset</button>
        </div>
      </div>
      <div projects></div>
    </section>

    <section class="standups-settings" data-ng-show="Extension.Nav.is('settings')" data-ng-controller="SettingsCtrl">
      <div class="standups-header">
        <div class="standups-nav">
          <span class="section-name">Settings</span>
          <ul class="navigation standups-right">
            <li>
              <a data-ng-click="Extension.Nav.to('main')"><i class="fa fa-arrow-left"></i></a>
            </li>
          </ul>
        </div>
      </div>
      <article></article>
    </section>

    <section class="standups-info" data-ng-show="Extension.Nav.is('info')" data-ng-controller="SettingsCtrl">
      <div class="standups-header">
        <div class="standups-nav">
          <span class="section-name">About</span>
          <ul class="navigation standups-right">
            <li>
              <a data-ng-click="Extension.Nav.to('main')"><i class="fa fa-arrow-left"></i></a>
            </li>
          </ul>
        </div>
      </div>
      <article>
        <h1>
          About this plugin.
        </h1>
        <p>
          Do you have a lot of daily meetings and you feel that your team is not using reserved meeting time efficiently?
          If yes, this plugin is for you!
        </p>
        <p>
          "Standups" plugin helps teams to organise their meetings by tracking time spend by each attendee to introduce his
          thoughts or issues. Basing on this rule, every speaker has its own defined timespan in order to finish his daily
          update, that's why he has to laconic and precise to fit in time. Using this technique, we can dramatically
          decreases time spend on the meeting and improve your team organisation and collaboration.
        </p>

        <h1>
          Credits.
        </h1>

        <p>

        <ul>
          <li class="line">
            Development
          </li>
          <li>
            <a href="www.neti-soft.com">Neti sp. z o.o</a>, Max Podriezov <a href="https://github.com/mpodriezov">@podriezov</a>
          </li>
          <li class="line">
            Idea
          </li>
          <li>
            Sławomir Paśko <a href="https://github.com/spasko">@spasko</a>
          </li>
          <li class="line">
            License
          </li>
          <li>
            <a href="https://raw.githubusercontent.com/neti-soft/standups/master/LICENSE">
              Apache License Version 2.0</a>
          </li>
          <li class="line">
            Contact & Bug reports
          </li>
          <li>
            <a href="mailto:standups@neti-soft.com">standups@neti-soft.com</a>
          </li>
        </ul>
        </p>
      </article>
    </section>

  </div>

  <script type="text/ng-template" id="templates/timer.html">
    <div class="standups-timer-widget" data-ng-click="edit($event)">
      <div class="cntr">
        <span class="dig h1"></span>
        <span class="dig h2"></span>
        <span class="hsep sep">h</span>
        <span class="dig m1"></span>
        <span class="dig m2"></span>
        <span class="msep sep">m</span>
        <span class="dig s1"></span>
        <span class="dig s2"></span>
        <span class="ssep sep">s</span>
      </div>
    </div>
  </script>

  <script type="text/ng-template" id="templates/teams.html">
    <div class="standups-project" ng-init="init()">

      <div ng-switch="view">

        <div ng-switch-when="wizard" class="standups-wizard">
          <div class="standups-step" ng-show="wizardStep === 1">
            <div class="standups-header">
              <h3 class="standups-list-header standups-left">
                Create your first project
              </h3>
            </div>
            <div class="standups-wizard-body">
              <label>
                <input placeholder="Project name"
                       focus-on="wizardStep === 1"
                       ng-model="temp.project.name"
                       keypress="{ 'enter': 'goWizardNext()'}"/>
              </label>
              <button class="standups-button standups-big" ng-click="goWizardNext()">Next <i
                  class="fa fa-arrow-right"></i></button>
            </div>
          </div>

          <div class="standups-step standups-step2" ng-show="wizardStep === 2">
            <div class="standups-header">
              <h3 class="standups-list-header standups-left">{{temp.project.name}}</h3>
            </div>
            <div class="standups-wizard-body">
              <label>
                <input placeholder="User name"
                       focus-on="wizardStep === 2"
                       ng-model="temp.userName"
                       keypress="{ 'enter': 'addUser(temp.project, temp.userName); temp.userName = \'\'' }"/>
              </label>
              <button class="standups-button standups-big" ng-click="goWizardNext()">Next <i
                  class="fa fa-arrow-right"></i></button>
              <div class="standups-list">

                <ul>
                  <li class="standups-list-item-empty" ng-if="temp.project.users.length == 0"><a>No users yet ... </a>
                  </li>
                  <li ng-repeat="user in temp.project.users">
                    <a>
                      {{user.name}}
                       <span class="standups-right standups-item-actions">
                        <i ng-click="removeUser(temp.project, user)" class="fa fa-trash-o"></i>
                      </span>
                    </a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>

        <div ng-switch-when="edit">
          <div class="standups-header">
            <h3 class="standups-list-header standups-left">
              <input type="text"
                     ng-model="temp.project.name"
                     focus-on="view == 'edit'"
                     placeholder="Project name"
                     keypress="{ 'enter': 'updateProject(temp.project)'}"/>
            </h3>

            <div class="standups-header-actions standups-right">
              <a ng-click="updateProject(temp.project)"><i class="fa fa-save"></i></a>
              <a ng-click="cancelEdit(temp.project)"><i class="fa fa-times"></i></a>
            </div>
          </div>

          <div class="standups-list">
            <ul>
              <li>
                <a>
                  <input type="text" ng-model="temp.userName" placeholder="User name"
                         keypress="{ enter: 'addUser(temp.project, temp.userName); temp.userName = null' }"/>
                </a>
              </li>
              <li ng-repeat="user in temp.project.users">
                <a>
                  <input type="text" ng-model="user.name"/>
                  <span class="standups-right standups-item-actions">
                    <i ng-click="removeUser(temp.project, user)" class="fa fa-trash-o"></i>
                  </span>
                </a>
              </li>
            </ul>
          </div>
        </div>

        <div ng-switch-when="details">
          <div class="standups-header">
            <h3 class="standups-list-header standups-left" ng-dblclick="editProject(data.project)">
              {{data.project.name}}
            </h3>

            <div class="standups-header-actions standups-right">
              <a ng-click="goSubView('list'); resetTemp()"><i class="fa fa-list"></i></a>
              <a ng-click="editProject(data.project)"><i class="fa fa-edit"></i></a>
            </div>
          </div>
          <div class="standups-list">
            <ul>
              <li ng-repeat="user in data.project.users"
                  ng-class="user.active?'standups-list-item-selected':''">
                <a ng-click="selectUser(data.project, user)"><i class="fa fa-bullhorn"></i>{{user.name}}</a>
              </li>
            </ul>
          </div>
        </div>

        <div ng-switch-when="list">

          <div class="standups-header">
            <h3 class="standups-list-header standups-left">Projects</h3>

            <div class="standups-header-actions standups-right">
              <a ng-click="listBack()"><i class="fa fa-arrow-left"></i></a>
            </div>
          </div>

          <div class="standups-list">
            <ul>
              <li>
                <a>
                  <input type="text"
                         focus-on="view == 'list'"
                         ng-model="temp.project.name"
                         placeholder="Project name"
                         keypress="{ enter: 'createProject(temp.project)' }"/>
                </a>
              </li>
              <li ng-repeat="project in data.projects"
                  ng-class="project.active?'standups-list-item-selected':''"
                  ng-click="selectProject(project)"
                  ng-dblclick="selectProject(project); goSubView('details')">
                <a>
                  <i class="fa fa-circle-o"></i>
                  <i class="fa fa-dot-circle-o"></i>
                  {{project.name}}
                <span class="fade">(<ng-pluralize count="project.users.length"
                                                  when="{'0': 'Nobody assigned','one': '1 user','other': '{} users'}">
                </ng-pluralize>)
                </span>
                <span class="standups-right standups-item-actions">
                  <i ng-click="editProject(project)" class="fa fa-edit"></i>
                   <i ng-click="removeProject(project)" class="fa fa-trash-o"></i>
                </span>
                </a>
              </li>
            </ul>
          </div>
        </div>

      </div>
    </div>
  </script>
</div>
