@background:        #fff;
@border:            #DDD;
@placeholder:       #DDD;
@text:              #000;
@black:             #000;
@text_dark:         #222;
@text_light_gray:   #AAA;
@links_color:       #12C;
@light_grey_color:  #f2f2f2;
@header_color_red:  #E20C0C;