html, body {
  font-family: arial, sans-serif;
  color: @text;
  background-color: @background;
}

.content {
  width: 400px;

  .section {
    width: 100%;
  }

  header {

    .opts {
      height: 20px;
      padding: 10px;
      padding-right: 10px;
    }
  }

}