html, body {
  font-family: arial, sans-serif;
  color: @text;
  background-color: @background;
}

a {
  text-decoration: none;
  cursor: pointer;
  color: @links_color;
}

ul.nav {
  list-style: none;
  li {
    display: inline-block;
    float: left;
  }
}

.content {
  width: 400px;

  .section {
    width: 100%;
  }

  header {

    nav {
      height: 20px;
      margin-bottom: 5px;
      padding-right: 10px;
      padding-top: 5px;

      a {
        color: @text;
        margin-right: 5px;
      }

      .fa {
        font-size: 1.2em;
        padding: 2px;
      }
    }
  }
}
