html, body {
  font-family: arial, sans-serif;
  color: @text;
  background-color: @background;
}

a {
  text-decoration: none;
  cursor: pointer;
  color: @links_color;
}

ul.nav {
  list-style: none;
  li {
    display: inline-block;
    float: left;
  }
}

.viewport {
  width: 400px;

  section {
    width: 100%;
    padding-left: 10px;
    padding-right: 10px;
  }

  header {

    nav {
      height: 20px;
      margin-bottom: 5px;
      padding-top: 5px;

      ul {

        a {
          color: @text;
          margin-right: 5px;
        }

        .fa {
          font-size: 1.2em;
          padding: 2px;
        }
      }

    }
  }
}
