#extension-standups .standups-info {

  padding-top: 10px;

  article {
    h1 {
      margin-top: 10px;
      margin-bottom: 10px;
      font-size: 14px;
    }

    p {
      text-align: justify;
    }
  }
}