#extension-standups .standups-timer {

  font-family: arial, sans-serif;
  color: @text_dark;

  .cntr {
    border: 1px solid transparent;
    display: inline-block;
    outline: none;
    padding: 5px 12px;
    padding-left: 25px;
    word-spacing: -3px;
    letter-spacing: -3px;
    position: relative;

    &.cntredit {
      .h1, .h2, .m1, .m2, .s1, .s2, .dig, .sep {
        color: @text_light_gray;
        cursor: default;
      }
    }

    .dirty {
      color: @text_dark !important;
    }

    .dig, .sep {
      font-weight: normal;
      word-spacing: normal;
      letter-spacing: normal;
      display: inline-block;
    }

    .h1, .h2, .m1, .m2, .s1, .s2, .dig, .sep {
      color: @text_dark;
      border: none;
      border-right: 1px solid transparent;
      font-size: 4.5em;
    }

    .sep {
      font-size: 2.2em;
      margin-left: 2px;
      margin-right: 10px;
    }

    .cur {
      border-right: 1px solid @black;
    }
  }
}
