#extension-standups .standups-timer {

  font-family: arial, sans-serif;
  color: #222;

  .cntr {
    border: 1px solid transparent;
    display: inline-block;
    outline: none;
    padding: 5px 12px;
    padding-left: 25px;
    word-spacing: -3px;
    letter-spacing: -3px;
    position: relative;

    &.cntredit {
      color: #AAA;
    }

    .dig, .sep {
      word-spacing: normal;
      letter-spacing: normal;
      display: inline-block;
    }

    .edit {
      color: #AAA;
      cursor: default;
    }

    .dig {
      border: none;
      border-right: 1px solid transparent;
      font-size: 4em;
    }

    .sep  {
      font-size: 2em;
      margin-left: 2px;
      margin-right: 10px;
    }

    .cur {
      border-right: 1px solid black;
    }
  }
}
