#extension-standups div,
#extension-standups span,
#extension-standups object,
#extension-standups iframe,
#extension-standups img,
#extension-standups table,
#extension-standups caption,
#extension-standups thead,
#extension-standups tbody,
#extension-standups tfoot,
#extension-standups tr,
#extension-standups tr,
#extension-standups td,
#extension-standups article,
#extension-standups aside,
#extension-standups canvas,
#extension-standups details,
#extension-standups figure,
#extension-standups hgroup,
#extension-standups menu,
#extension-standups nav,
#extension-standups footer,
#extension-standups header,
#extension-standups section,
#extension-standups summary,
#extension-standups mark,
#extension-standups audio,
#extension-standups video {
  border: 0;
  margin: 0;
  padding: 0;
}
#extension-standups h1,
#extension-standups h2,
#extension-standups h3,
#extension-standups h4,
#extension-standups h5,
#extension-standups h6,
#extension-standups p,
#extension-standups blockquote,
#extension-standups pre,
#extension-standups a,
#extension-standups abbr,
#extension-standups address,
#extension-standups cit,
#extension-standups code,
#extension-standups del,
#extension-standups dfn,
#extension-standups em,
#extension-standups ins,
#extension-standups q,
#extension-standups samp,
#extension-standups small,
#extension-standups strong,
#extension-standups sub,
#extension-standups sup,
#extension-standups b,
#extension-standups i,
#extension-standups hr,
#extension-standups dl,
#extension-standups dt,
#extension-standups dd,
#extension-standups ol,
#extension-standups ul,
#extension-standups li,
#extension-standups fieldset,
#extension-standups legend,
#extension-standups label {
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
  margin: 0;
  padding: 0;
}
#extension-standups article,
#extension-standups aside,
#extension-standups canvas,
#extension-standups figure,
#extension-standups figure img,
#extension-standups figcaption,
#extension-standups hgroup,
#extension-standups footer,
#extension-standups header,
#extension-standups nav,
#extension-standups section,
#extension-standups audio,
#extension-standups video {
  display: block;
}
#extension-standups table {
  border-collapse: separate;
  border-spacing: 0;
}
#extension-standups table caption,
#extension-standups table th,
#extension-standups table td {
  text-align: left;
  vertical-align: middle;
}
#extension-standups a img {
  border: 0;
}
#extension-standups :focus {
  outline: 0;
}
#extension-standups {
  font-family: 'Lucida Grande', Helvetica, sans-serif;
  color: #000000;
  text-align: left;
  border-left: 1px solid #f2f2f2;
  background-color: #ffffff;
  display: block;
  position: fixed;
  text-decoration: none;
  padding: 0;
  margin: 0;
  z-index: 100000000000;
  width: 400px;
  height: 100%;
  min-height: 640px;
  top: 1px;
  right: 0;
  -webkit-transition: opacity 1.5s;
  transition: opacity 1.5s;
  font-size: 12px;
}
#extension-standups * {
  box-sizing: content-box;
}
#extension-standups a,
#extension-standups span,
#extension-standups div,
#extension-standups h1,
#extension-standups h2,
#extension-standups h3,
#extension-standups h4,
#extension-standups ul,
#extension-standups li,
#extension-standups input,
#extension-standups button {
  font-family: 'Lucida Grande', Helvetica, sans-serif;
  color: #000000;
  text-align: left;
  font-size: 12px;
  background: none;
  font-weight: normal;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  line-height: 100%;
}
#extension-standups a {
  text-decoration: none;
  cursor: pointer;
  color: #000000;
}
#extension-standups a:hover {
  color: #e20c0c;
}
#extension-standups :-webkit-full-screen .viewport {
  width: 100%;
  height: 100%;
}
#extension-standups ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
#extension-standups input,
#extension-standups .standups-button {
  height: 35px;
  font-weight: normal;
  border: 1px solid #aaaaaa;
  border-radius: 2px;
  box-sizing: border-box;
  color: #222222;
  margin: 0;
  min-height: 35px;
  outline: none;
  padding: 3px 3px 4px 7px;
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.075);
}
#extension-standups .standups-button {
  padding: 6px 15px;
  background-color: #efefef;
}
#extension-standups .standups-button:hover {
  cursor: pointer;
  color: #ffffff;
  background: #222222;
}
#extension-standups .standups-button.standups-big {
  font-size: 16px;
}
#extension-standups ul.navigation {
  list-style: none;
}
#extension-standups ul.navigation li {
  display: inline-block;
  float: left;
}
#extension-standups .fade {
  opacity: 0.5;
}
#extension-standups .standups-center {
  text-align: center;
}
#extension-standups .viewport section {
  padding-left: 10px;
  padding-right: 10px;
  margin: 0;
}
#extension-standups .viewport .standups-header {
  height: 30px;
}
#extension-standups .viewport .standups-header .standups-nav {
  margin-bottom: 5px;
  padding-top: 5px;
}
#extension-standups .viewport .standups-header .standups-nav ul .fa {
  font-size: 18px;
  padding: 2px;
}
#extension-standups .section-name {
  font-size: 18px;
  margin-left: 10px;
  color: #e20c0c;
}
#extension-standups .extension-toggled-menu {
  display: none;
  width: 100px;
  height: 50px;
  position: fixed;
  top: 10px;
  right: 10px;
}
#extension-standups .standups-right {
  float: right;
}
#extension-standups .standups-left {
  float: left;
}
#extension-standups .standups-timer .standups-timer-actions {
  height: 30px;
  padding-top: 15px;
  margin: 0;
}
#extension-standups .standups-timer .standups-timer-actions button {
  background: #ffffff;
  font-size: 15px;
  font-weight: normal;
  border: none;
  background: none;
  margin: 0;
  padding: 5px 15px;
  height: 25px;
  width: 64px;
}
#extension-standups .standups-timer .standups-timer-widget {
  height: 65px;
}
#extension-standups .standups-timer .standups-timer-widget .cntr {
  border: 1px solid transparent;
  display: inline-block;
  outline: none;
  padding: 5px 12px;
  padding-left: 25px;
  word-spacing: -3px;
  letter-spacing: -3px;
  position: relative;
}
#extension-standups .standups-timer .standups-timer-widget .cntr * {
  font-family: arial, sans-serif !important;
  color: #222222;
}
#extension-standups .standups-timer .standups-timer-widget .cntr.cntredit .h1,
#extension-standups .standups-timer .standups-timer-widget .cntr.cntredit .h2,
#extension-standups .standups-timer .standups-timer-widget .cntr.cntredit .m1,
#extension-standups .standups-timer .standups-timer-widget .cntr.cntredit .m2,
#extension-standups .standups-timer .standups-timer-widget .cntr.cntredit .s1,
#extension-standups .standups-timer .standups-timer-widget .cntr.cntredit .s2,
#extension-standups .standups-timer .standups-timer-widget .cntr.cntredit .dig,
#extension-standups .standups-timer .standups-timer-widget .cntr.cntredit .sep {
  color: #aaaaaa;
  cursor: default;
}
#extension-standups .standups-timer .standups-timer-widget .cntr .dirty {
  color: #222222 !important;
}
#extension-standups .standups-timer .standups-timer-widget .cntr .dig,
#extension-standups .standups-timer .standups-timer-widget .cntr .sep {
  font-weight: normal;
  word-spacing: normal;
  letter-spacing: normal;
  display: inline-block;
}
#extension-standups .standups-timer .standups-timer-widget .cntr .h1,
#extension-standups .standups-timer .standups-timer-widget .cntr .h2,
#extension-standups .standups-timer .standups-timer-widget .cntr .m1,
#extension-standups .standups-timer .standups-timer-widget .cntr .m2,
#extension-standups .standups-timer .standups-timer-widget .cntr .s1,
#extension-standups .standups-timer .standups-timer-widget .cntr .s2,
#extension-standups .standups-timer .standups-timer-widget .cntr .dig,
#extension-standups .standups-timer .standups-timer-widget .cntr .sep {
  color: #222222;
  border: none;
  border-right: 1px solid transparent;
  font-size: 55px;
}
#extension-standups .standups-timer .standups-timer-widget .cntr .sep {
  font-size: 21px;
  margin-left: 2px;
  margin-right: 10px;
}
#extension-standups .standups-timer .standups-timer-widget .cntr .ssep {
  margin-right: 0px;
}
#extension-standups .standups-timer .standups-timer-widget .cntr .cur {
  border-right: 1px solid #000000;
}
#extension-standups .standups-project {
  border-top: 1px solid #dddddd;
  margin-top: 10px;
}
#extension-standups .standups-project .standups-header {
  overflow: hidden;
  margin-top: 10px;
  padding: 5px;
  text-align: left;
}
#extension-standups .standups-project .standups-header .standups-list-header {
  font-weight: normal;
  width: 310px;
  cursor: pointer;
  overflow: visible;
  font-size: 20px;
  display: inline-block;
}
#extension-standups .standups-project .standups-header .standups-list-header input {
  width: 330px;
}
#extension-standups .standups-project .standups-header .standups-header-actions {
  display: inline-block;
  font-size: 16px;
  padding-top: 3px;
}
#extension-standups .standups-project .standups-header .standups-header-actions.standups-left {
  margin-right: 10px;
}
#extension-standups .standups-project .standups-list {
  text-align: left;
}
#extension-standups .standups-project .standups-list ul {
  margin-left: 10px;
}
#extension-standups .standups-project .standups-list ul input {
  width: 334px;
  height: 30px;
  font-size: 14px;
}
#extension-standups .standups-project .standups-list ul li {
  margin-bottom: 2px;
}
#extension-standups .standups-project .standups-list ul li > a {
  display: block;
  font-size: 14px;
  padding-top: 5px;
  padding-left: 8px;
  padding-bottom: 5px;
  border: 1px solid transparent;
}
#extension-standups .standups-project .standups-list ul li > a .fa {
  margin-right: 5px;
}
#extension-standups .standups-project .standups-list ul li > a .fa-circle-o {
  display: inline-block;
}
#extension-standups .standups-project .standups-list ul li > a .fa-dot-circle-o,
#extension-standups .standups-project .standups-list ul li > a .fa-bullhorn {
  display: none;
}
#extension-standups .standups-project .standups-list ul li > a .fade {
  font-size: 12px;
}
#extension-standups .standups-project .standups-list ul li.standups-list-item-selected > a,
#extension-standups .standups-project .standups-list ul li > a:hover {
  color: #1e90ff;
}
#extension-standups .standups-project .standups-list ul li.standups-list-item-selected > a .fa-circle-o,
#extension-standups .standups-project .standups-list ul li > a:hover .fa-circle-o {
  display: none;
}
#extension-standups .standups-project .standups-list ul li.standups-list-item-selected > a .fa-dot-circle-o,
#extension-standups .standups-project .standups-list ul li > a:hover .fa-dot-circle-o,
#extension-standups .standups-project .standups-list ul li.standups-list-item-selected > a .fa-bullhorn,
#extension-standups .standups-project .standups-list ul li > a:hover .fa-bullhorn {
  display: inline-block;
}
#extension-standups .standups-project .standups-list ul li.standups-new-team-input-li {
  margin-bottom: 10px;
}
#extension-standups .standups-project .standups-list ul .standups-item-actions {
  padding-top: 6px;
  font-size: 18px;
}
#extension-standups .standups-project .standups-wizard .standups-step {
  text-align: center;
}
#extension-standups .standups-project .standups-wizard .standups-step .standups-wizard-body .standups-list {
  margin-top: 10px;
}
#extension-standups .standups-project .standups-wizard .standups-step .standups-wizard-body label {
  display: block;
  margin-top: 20px;
  margin-bottom: 15px;
  font-weight: normal;
}
#extension-standups .standups-project .standups-wizard .standups-step .standups-wizard-body label input {
  font-weight: normal;
  font-size: 16px;
  width: 95%;
}
#extension-standups .standups-info {
  padding-top: 10px;
}
#extension-standups .standups-info article {
  padding-left: 10px;
}
#extension-standups .standups-info article h1 {
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 16px;
  font-weight: bold;
}
#extension-standups .standups-info article ul {
  font-weight: normal;
}
#extension-standups .standups-info article ul > li,
#extension-standups .standups-info article ul * {
  font-size: 14px !important;
}
#extension-standups .standups-info article ul > li {
  padding: 2px;
}
#extension-standups .standups-info article ul li.line {
  color: #1e90ff;
  font-weight: normal;
  margin-top: 5px;
}
#extension-standups .standups-info article p {
  margin: 0;
  padding: 0;
  font-weight: normal;
  font-size: 14px;
  text-align: justify;
  margin-bottom: 10px;
  line-height: 16px;
}
