#extension-standups div,
#extension-standups span,
#extension-standups object,
#extension-standups iframe,
#extension-standups img,
#extension-standups table,
#extension-standups caption,
#extension-standups thead,
#extension-standups tbody,
#extension-standups tfoot,
#extension-standups tr,
#extension-standups tr,
#extension-standups td,
#extension-standups article,
#extension-standups aside,
#extension-standups canvas,
#extension-standups details,
#extension-standups figure,
#extension-standups hgroup,
#extension-standups menu,
#extension-standups nav,
#extension-standups footer,
#extension-standups header,
#extension-standups section,
#extension-standups summary,
#extension-standups mark,
#extension-standups audio,
#extension-standups video {
  border: 0;
  margin: 0;
  padding: 0;
}
#extension-standups h1,
#extension-standups h2,
#extension-standups h3,
#extension-standups h4,
#extension-standups h5,
#extension-standups h6,
#extension-standups p,
#extension-standups blockquote,
#extension-standups pre,
#extension-standups a,
#extension-standups abbr,
#extension-standups address,
#extension-standups cit,
#extension-standups code,
#extension-standups del,
#extension-standups dfn,
#extension-standups em,
#extension-standups ins,
#extension-standups q,
#extension-standups samp,
#extension-standups small,
#extension-standups strong,
#extension-standups sub,
#extension-standups sup,
#extension-standups b,
#extension-standups i,
#extension-standups hr,
#extension-standups dl,
#extension-standups dt,
#extension-standups dd,
#extension-standups ol,
#extension-standups ul,
#extension-standups li,
#extension-standups fieldset,
#extension-standups legend,
#extension-standups label {
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
  margin: 0;
  padding: 0;
}
#extension-standups article,
#extension-standups aside,
#extension-standups canvas,
#extension-standups figure,
#extension-standups figure img,
#extension-standups figcaption,
#extension-standups hgroup,
#extension-standups footer,
#extension-standups header,
#extension-standups nav,
#extension-standups section,
#extension-standups audio,
#extension-standups video {
  display: block;
}
#extension-standups table {
  border-collapse: separate;
  border-spacing: 0;
}
#extension-standups table caption,
#extension-standups table th,
#extension-standups table td {
  text-align: left;
  vertical-align: middle;
}
#extension-standups a img {
  border: 0;
}
#extension-standups :focus {
  outline: 0;
}
#extension-standups .standups-timer {
  font-family: arial, sans-serif;
  color: #222222;
}
#extension-standups .standups-timer .cntr {
  border: 1px solid transparent;
  display: inline-block;
  outline: none;
  padding: 5px 12px;
  padding-left: 25px;
  word-spacing: -3px;
  letter-spacing: -3px;
  position: relative;
}
#extension-standups .standups-timer .cntr.cntredit .h1,
#extension-standups .standups-timer .cntr.cntredit .h2,
#extension-standups .standups-timer .cntr.cntredit .m1,
#extension-standups .standups-timer .cntr.cntredit .m2,
#extension-standups .standups-timer .cntr.cntredit .s1,
#extension-standups .standups-timer .cntr.cntredit .s2,
#extension-standups .standups-timer .cntr.cntredit .dig,
#extension-standups .standups-timer .cntr.cntredit .sep {
  color: #aaaaaa;
  cursor: default;
}
#extension-standups .standups-timer .cntr .dirty {
  color: #222222;
}
#extension-standups .standups-timer .cntr .dig,
#extension-standups .standups-timer .cntr .sep {
  font-weight: normal;
  word-spacing: normal;
  letter-spacing: normal;
  display: inline-block;
}
#extension-standups .standups-timer .cntr .h1,
#extension-standups .standups-timer .cntr .h2,
#extension-standups .standups-timer .cntr .m1,
#extension-standups .standups-timer .cntr .m2,
#extension-standups .standups-timer .cntr .s1,
#extension-standups .standups-timer .cntr .s2,
#extension-standups .standups-timer .cntr .dig,
#extension-standups .standups-timer .cntr .sep {
  color: #222222;
  border: none;
  border-right: 1px solid transparent;
  font-size: 4.5em;
}
#extension-standups .standups-timer .cntr .sep {
  font-size: 2.2em;
  margin-left: 2px;
  margin-right: 10px;
}
#extension-standups .standups-timer .cntr .cur {
  border-right: 1px solid #000000;
}
#extension-standups {
  font-family: 'Lucida Grande', Helvetica, sans-serif;
  color: #000000;
  border-left: 1px solid #f2f2f2;
  background-color: #ffffff;
  display: block;
  position: fixed;
  z-index: 100000000000;
  width: 400px;
  height: 100%;
  min-height: 640px;
  top: 1px;
  right: 2px;
  -webkit-transition: opacity 1.5s;
  transition: opacity 1.5s;
  font-size: 100%;
}
#extension-standups a {
  text-decoration: none;
  cursor: pointer;
  color: #1122cc;
}
#extension-standups :-webkit-full-screen .viewport {
  width: 100%;
  height: 100%;
}
#extension-standups ul.navigation {
  list-style: none;
}
#extension-standups ul.navigation li {
  display: inline-block;
  float: left;
}
#extension-standups .viewport section {
  padding-left: 10px;
  padding-right: 10px;
}
#extension-standups .viewport div.hdr div.nv {
  height: 30px;
  margin-bottom: 5px;
  padding-top: 5px;
}
#extension-standups .viewport div.hdr div.nv ul a {
  color: #000000;
  margin-right: 5px;
}
#extension-standups .viewport div.hdr div.nv ul .fa {
  font-size: 20px;
  padding: 2px;
}
#extension-standups .viewport .extension-btn {
  background: #ffffff;
  border: none;
  padding: 5px 15px;
}
#extension-standups .section-name {
  font-size: 18px;
  margin-left: 10px;
  color: #e20c0c;
}
#extension-standups .extension-toggled-menu {
  display: none;
  width: 100px;
  height: 50px;
  position: fixed;
  top: 10px;
  right: 10px;
}
